# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

/models/01/ResNet50
/models/01/ResNet50.tar.gz
/models/02/ResNet50
/models/02/ResNet50.tar.gz
/models/03/DenseNet201
/models/03/DenseNet201.tar.gz
/models/04/ResNet152
/models/04/ResNet152.tar.gz
/models/05/MobileNet
/models/05/MobileNet.tar.gz
/models/06/ResNet152
/models/06/ResNet152.tar.gz
/models/07/MobileNet
/models/07/MobileNet.tar.gz
/models/08/MobileNet
/models/08/MobileNet.tar.gz
/models/09/MobileNet
/models/09/MobileNet.tar.gz
/models/10/MobileNet
/models/10/MobileNet.tar.gz
/models/11/MobileNet
/models/11/MobileNet.tar.gz
/models/12/MobileNet
/models/12/MobileNet.tar.gz

/models/trial-01
/models/trial-01.tar.gz
/models/trial-02
/models/trial-02.tar.gz
/models/trial-03
/models/trial-03.tar.gz
/models/trial-04
/models/trial-04.tar.gz
/models/trial-05
/models/trial-05.tar.gz
/models/trial-06
/models/trial-06.tar.gz
/models/trial-07
/models/trial-07.tar.gz
/models/trial-08
/models/trial-08.tar.gz
/models/trial-09
/models/trial-09.tar.gz
/models/trial-10
/models/trial-10.tar.gz
/models/trial-final
/models/trial-final.tar.gz

/utils/models.csv
/data/
/utils/load_trials.sql
*.csv
*.xlsx
*.ods
