tensorflow~=2.2.0
imutils~=0.5.3
mtcnn~=0.1.0
opencv-python~=4.2.0.34
dlib~=19.20.0
numpy~=1.18.5
matplotlib~=3.2.2
Pillow~=7.1.2
pandas~=1.0.5
keras-video-generators~=1.0.14
scikit-learn~=0.23.2
mysql-connector-python~=8.0.21